<strong>Olá, {{ organizer }}</strong>

<p>Seu Meetup <strong>{{ meetup }}</strong> recebeu uma nova inscrição. Confira os detalhes abaixo: </p>

<p>
  <strong>Inscrito: </strong> {{ user }}<br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Data/Hora: </strong> {{ date }}<br />
  <strong>Nº inscrição: </strong> {{ subscriptionNumber }}
</p>

<br /><br />

<smal>Parabéns, seu Meetup já recebeu {{ subscriptionCount }} inscrição.</smal>